1: Всё кроме Мэтьюса, Крамера и разности

2: Крамера V

3: разность

4: 0.7687

5:0.753

In [8]:
import pandas as pd
import numpy as np
from scipy.stats import spearmanr

In [3]:
data = pd.read_csv('illiteracy.txt', sep = '\t', header = 0)

In [4]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [6]:
data_correlation = data.corr()

In [7]:
data_correlation.head()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [9]:
spearmanr(data.Illit, data.Births)

SpearmanrResult(correlation=0.752962213732534, pvalue=2.0858571221460674e-18)