In [20]:
from sklearn import model_selection as cross_validation
from sklearn import datasets, linear_model, metrics
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv('water.txt', sep="\t", header=None)
data.columns = ['location', 'town', 'mortality', 'hardness']

In [22]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [27]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [51]:
print _tconfint_generic(data.mortality.mean(),
                        data.mortality.std(ddof=1) / np.sqrt(len(data.mortality)),
                        len(data.mortality) - 1,
                        0.05,
                        'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [58]:
1476.0833413552848

1476.0833413552848

In [55]:
print _tconfint_generic(data[data.location == 'South'].mortality.mean(),
                        data[data.location == 'South'].mortality.std(ddof=1) / np.sqrt(len(data[data.location == 'South'])),
                        len(data[data.location == 'South']) - 1,
                        0.05,
                        'two-sided')

(1320.1517462936238, 1433.463638321761)

In [59]:
1433.463638321761

1433.463638321761

In [57]:
print _tconfint_generic(data[data.location == 'North'].mortality.mean(),
                        data[data.location == 'North'].mortality.std(ddof=1) / np.sqrt(len(data[data.location == 'North'])),
                        len(data[data.location == 'North']) - 1,
                        0.05,
                        'two-sided')

(1586.5605251961385, 1680.6394748038613)

In [46]:
print _tconfint_generic(data[data['location'] == 'North']['hardness'].mean(), data['mortality'].std(), 1, 0.05, 'two-sided')

(-2354.1576100841894, 2414.9576100841896)

In [18]:
print _tconfint_generic(data[data['location'] == 'South']['hardness'].mean(), data['mortality'].std(),  1, 0.05, 'two-sided')

(-305.6241688005819, 445.16263033904346)