In [2]:
import numpy as np
import pandas as pd

import scipy
from statsmodels.stats.weightstats import *
%pylab inline

Populating the interactive namespace from numpy and matplotlib

#1

$H_0:$ $\mu = 9.5$

$H_0:$ $\mu \neq 9.5$

In [33]:
S = 0.4
mu = 9.5
mu_1 = 9.57
n = 160
z = mu_1 - mu

In [84]:
z = mu_1 - mu
norm_dist = scipy.stats.norm(0, (S)/np.sqrt(n))
print(2 * norm_dist.cdf(-z))

0.026856695507523776

In [54]:
data = pd.read_csv('diamonds.txt', sep="\t", header=None)

In [59]:
print data.T[0].tolist()

['carat', 'depth', 'table', 'price', 'x', 'y', 'z']

In [62]:
data = pd.read_csv('diamonds.txt', sep="\t", header=None)
data.columns = data.T[0].tolist()
data = data.drop([0])
data.head()

  carat depth table price     x     y     z
1  0.23  61.5    55   326  3.95  3.98  2.43
2  0.21  59.8    61   326  3.89  3.84  2.31
3  0.23  56.9    65   327  4.05  4.07  2.31
4  0.29  62.4    58   334   4.2  4.23  2.63
5  0.31  63.3    58   335  4.34  4.35  2.75

In [64]:
X = data.drop(columns = ['price'])
y = data.price

In [70]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model, metrics

In [69]:
train_data, test_data, train_labels, test_labels = train_test_split(X,
                                                                    y,
                                                                    test_size = 0.25,
                                                                    random_state = 1)

In [80]:
linear_regressor = linear_model.LinearRegression()
linear_regressor.fit(train_data, train_labels)
predictions = linear_regressor.predict(test_data)
print metrics.mean_absolute_error(test_labels, predictions)

890.3764004285612

In [73]:
from sklearn.ensemble import RandomForestRegressor

In [85]:
regr = RandomForestRegressor(random_state=1)
regr.fit(train_data, train_labels)
predictions_forest = regr.predict(test_data)
print metrics.mean_absolute_error(test_labels, predictions_forest)

802.9205172724115

In [109]:
test_lables_array = np.array([float(i) for i in array(test_labels)])
print test_lables_array
print predictions

[ 564. 5914. 2562. ... 3285. 3734. 1363.]
[ 778.42235621 6930.46053685 2520.12128307 ... 5456.49180326 3630.17181904
 1203.67470294]

In [116]:
linear_abs_err = np.absolute(test_lables_array - predictions)
forest_abs_err = np.absolute(test_lables_array - predictions_forest)
alpha = 0.05

In [117]:
print linear_abs_err
print forest_abs_err

[ 214.42235621 1016.46053685   41.87871693 ... 2171.49180326  103.82818096
  159.32529706]
[ 294.55 1291.6   453.2  ... 1426.    298.7   281.1 ]

In [118]:
stats.ttest_ind(linear_abs_err, forest_abs_err)

Ttest_indResult(statistic=6.205418446787077, pvalue=5.534492084104735e-10)

In [119]:
error_sub = (linear_abs_err - forest_abs_err)

In [121]:
print "95%% confidence interval: [%f, %f]" % zconfint(error_sub)

95% confidence interval: [74.288427, 100.623339]

1:1-stats.t.cdf(t, nu)

2:принципе невозможно

3:$n_1 = n_2$, не сущ точного способа

4:0.0269

5: yes

6: no

7:70